body {
  --bottom-nav-height: 64px;
  --bottom-drawer-header-height: 48px;
}

[is="bottom-drawer"] {
  display: unset;
  position: unset;
  left: unset;
  right: unset;
  width: unset;
  height: unset;
  background-color: transparent;
  color: unset;
  margin: unset;
  border: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  border-radius: unset;
  padding: unset;
  box-shadow: none;
}

/* Bottom Drawer layer Styling  */

body>[content]>*,
[is="bottom-drawer"] [content]>* {
  --bottom-drawer-translate-z: calc(var(--bottom-drawer-layer-depth-ratio) * -40px);
  --bottom-drawer-translate-y: calc(var(--bottom-drawer-layer-depth-ratio) * var(--top-nav-height) * -0.25);
  --bottom-drawer-lightness: calc(100% - (var(--bottom-drawer-layer-depth-ratio) * 20%));
  transform: translateY(var(--bottom-drawer-translate-y)) translateZ(var(--bottom-drawer-translate-z));
  filter: brightness(var(--bottom-drawer-lightness, 100%));
  animation: opening 0.75s linear 0ms

}

body>[content]>* {
  --bottom-drawer-translate-z: calc(var(--bottom-drawer-layer-depth-ratio) * -160px);
  --bottom-drawer-translate-y: calc(var(--bottom-drawer-layer-depth-ratio) * var(--top-nav-height) * 0.15);
  border-top-left-radius: calc(var(--radius-2) * var(--bottom-drawer-layer-depth-ratio));
  border-top-right-radius: calc(var(--radius-2) * var(--bottom-drawer-layer-depth-ratio));
}

/* Bottom Drawer base  */

[is="bottom-drawer"] {
  --bottom-drawer-offset: 0px;
  --bottom-drawer-placeholder-height: calc(100% - var(--bottom-drawer-header-height) + var(--bottom-drawer-offset));
  --bottom-drawer-content-height: calc(100% - var(--bottom-drawer-header-height));
  --bottom-drawer-content-gap: 1px;
  --bottom-drawer-z-index: var(--layer-3);
  width: 80vw;
  height: 100%;
  margin: auto;
  grid-area: dialog;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow: auto;
  transition: margin-top 0.25s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: none;
}

[is="bottom-drawer"]::-webkit-scrollbar{
  display: none;
}

/* Bottom Drawer offset  */

[is="bottom-drawer"][open]:nth-of-type(1) {
  --bottom-drawer-offset: calc(var(--bottom-drawer-header-height) * -2);
  --bottom-drawer-z-index: var(--layer-1);
}

[is="bottom-drawer"][open]:nth-of-type(2){
  --bottom-drawer-offset: calc(var(--bottom-drawer-header-height) * -1);
  --bottom-drawer-z-index: var(--layer-2);
}

/* Drawer Placeholder */

[is="bottom-drawer"]>[placeholder] {
  width: 100%;
  position: relative;
  min-height: var(--bottom-drawer-placeholder-height);
  pointer-events: none;
  scroll-snap-align: start;
  transition: min-height 0.25s ease-in-out;
}

[is="bottom-drawer"]:not([open])>[placeholder] {
  min-height: 100%;
}

/* Drawer Content */

[is="bottom-drawer"]>[content] {
  display: flex;
  flex-direction: column;
  gap: var(--bottom-drawer-content-gap);
  width: 100%;
  scroll-snap-align: start;
  min-height: calc(var(--bottom-drawer-content-height) - var(--bottom-drawer-content-gap));
  max-height: calc(var(--bottom-drawer-content-height) - var(--bottom-drawer-content-gap));
  perspective: 1000px;
  perspective-origin: top;
  pointer-events: auto;
  z-index: var(--bottom-drawer-z-index);
}


/* inner  content */

[is="bottom-drawer"]>[content]>header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  min-height: var(--bottom-drawer-header-height);
  background: var(--surface-0);
  border: 1px solid var(--surface-4);
  border-bottom: none;
  border-top-left-radius: var(--radius-4);
  border-top-right-radius: var(--radius-4);
  padding-left: var(--size-7);
  padding-right: var(--size-4);
  box-shadow: 0px 0px 15px -5px var(--surface-4);
}

[is="bottom-drawer"][collapsed]>[content]>header {
  min-height: calc(var(--bottom-drawer-header-height) + (var(--bottom-drawer-offset) * -1));
}

[is="bottom-drawer"]>[content]>header>div {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: var(--bottom-drawer-header-height);
  gap: var(--size-2);
}

[is="bottom-drawer"]>[content]>header:before {
  content: '';
  width: 80px;
  height: 4px;
  border-radius: var(--radius-round);
  background-color: var(--surface-4);
  position: absolute;
  top: 4px;
  justify-self: center;
}

[is="bottom-drawer"]>[content]>header>div>span {
  flex-grow: 1;
}

[is="bottom-drawer"][expanded]>[content]>header button .la-angle-up {
  transform: rotate(180deg);
  transition: all 0.25s ease-in-out;
}

[is="bottom-drawer"]>[content]>main {
  display: flex !important;
  width: 100%;
  background: var(--surface-0);
  flex-grow: 1;
  border: 1px solid var(--surface-4);
  border-top: none;
  position: relative;
}
@keyframes opening {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}