
  body {
    --page-width: 100vw;
    --page-height: 100vh;
    --top-nav-height: 64px;
    --bottom-nav-height: 64px;
  }

  html {
    overflow: auto;
    width: var(--page-width);
    height: var(--page-height);
  }

  body {
    display: grid;
    overflow: visible;
    background-image: var(--gradient-1);
    width: var(--page-width);
    grid-template-columns: 1fr;
    grid-template-rows:
      var(--top-nav-height) 
      calc(
        var(--page-height) - var(--top-nav-height) - var(--bottom-nav-height)
      )
      auto
      var(--bottom-nav-height);
    grid-template-areas:
      "header"
      "dialog"
      "content"
      "footer";
    margin: 0;
    position:relative;
  }

  body > [content] {
    grid-area: content;
    display:flex;
    flex-direction:column;
    perspective: 1000px;
    perspective-origin: top;
    margin-top:       calc(
      (var(--page-height) - var(--bottom-nav-height)) * -1
    );
  }

  [is="bottom-drawer"] {
    transform:translateY(var(--scroll-position));
  }


  body > header {
    grid-area: header;
    top:0;
    position:sticky;
    width:100vw;
    z-index:var(--layer-4);
    background:var(--surface-0);
    box-shadow:var(--shadow-2);
    border-bottom: 1px solid var(--surface-3);
  }

  body > footer {
    grid-area: footer;
    bottom:0;
    position:sticky;
    width:100vw;
    z-index:var(--layer-4);
    background:var(--surface-0);
    box-shadow:var(--shadow-2);
    border-top: 1px solid var(--surface-3);
  }


  /* Content */

  body > [content] > main {
    display: flex;
    flex-direction: column;
    background:var(--surface-1);
    min-height: 200vh;
    position: relative;
  }

  body > [content] > footer {
    background:var(--surface-3);
    min-height: 400px;
    position: relative;
    padding-bottom: calc(var(--bottom-drawer-bottom-offset) + var( --bottom-drawer-header-height));
  }

  /* button */

  button:has(i:only-child) {
    width:var(--size-6);
    height:var(--size-6);
    padding:0;
    border-radius:var(--radius-round);
    border:unset;
    box-shadow:unset;
  }

